*{
    margin: 0;
    padding: 0;
}

#root{
    height: 100vh;

    width: 100%;
    background-image: linear-gradient(to right, rgb(114, 232, 59),rgb(252, 188, 68));
    background-size: cover;
    /* opacity: 0.78; */

}





















